<div class="content">
  <div class="col-sm-8 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <mat-card class="card">
      <div class="h2 title text-uppercase inline"><img width="100px" height="100px"
          src="http://via.placeholder.com/200x200"> Cloud Speech Demos by GridCell </div>
      <p>
        This project showcases some of the APIs made available by the Google Cloud platform, namely:
      </p>
      <ul>
        <li><a class="md-primary" href="https://cloud.google.com/speech/" target="_blank">Google Cloud Speech</a>
        <li><a href="https://cloud.google.com/natural-language/" target="_blank">Google Cloud Natural Language</a>
        <li><a href="https://cloud.google.com/vision/" target="_blank">Google Cloud Vision</a>
      </ul>
      <p>It also showcases the Web Speech API made available by all modern browsers, as a mean of comparision against
        Google Cloud Speech.</p>
      <p>The source code and instructions for this project can be found on:
        <a href="https://github.com/gridcellcoder/cloud-speech-and-vision-demos" target="_blank">github</a>
      </p>
    </mat-card>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">

      <mat-card  class="card">
        <div class="h4 title text-uppercase inline">Web Speech API</div>
        <p>Press the start button and say something..</p>
        <button md-raised-button class="inline" [disabled]="webSpeechSubscription" color="accent"
          (click)="startWebSpeech()">START
        </button>
        <div class="spacer"></div>
        <div class="mb-0">
          <textarea rows="2" [disabled]="!webSpeechTranscript" placeholder="Audio Transcription"
            [(ngModel)]="webSpeechTranscript">
          </textarea>
        </div>
        <div class="spacer"></div>
        <div *ngIf="webSpeechAnalysis">
          <div>
            Sentiment
            <a href="https://cloud.google.com/natural-language/docs/basics#sentiment-analysis-values"><span
                class="fa fa-question-circle"></span></a>
            Score: {{webSpeechAnalysis.sentiment.score}}, Magnitude: {{webSpeechAnalysis.sentiment.magnitude}}
            <span class="fa fa-refresh" (click)="webSpeechAnalyseTranscript()"></span>&nbsp;
            <span class="fa fa-save" (click)="speechAnalysisSave(webSpeechAnalysis)"></span>
          </div>
          <mat-chip-list class="md-chip-list">
            <mat-chip *ngFor="let tag of webSpeechAnalysis.tags" color="accent">
              <span *ngIf="!tag.wikipedia_url">{{tag.type}} - "{{tag.name}}"</span>
              <a *ngIf="tag.wikipedia_url" [href]="tag.wikipedia_url">{{tag.type}} - "{{tag.name}}"</a>
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-card>
    </div>

    <div class="col-sm-6 col-md-5 col-lg-4">
      <mat-card  class="card">
        <div class="h4 title text-uppercase inline">Speech Syntethiser</div>
        <p class="bg-warning">To get this to work you need to have a local instance of the speech-server up and running
          (See <a href="https://github.com/gridcellcoder/cloud-speech-and-vision-demos#speech-local-server"
            target="_blank"> README</a>) for full details. Then press the start button and a random sentence will be
          spoken..</p>
        <button md-raised-button class="inline" [disabled]="webSynthSubscription" color="accent"
          (click)="startWebSynth()">START</button>
        <div class="spacer"></div>
        <div class="mb-0">
          <textarea matInput rows="2" [disabled]="!webSynthUtterance" placeholder="Utterance to be spoken"
            [(ngModel)]="webSynthUtterance">
          </textarea>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
      <mat-card  class="card">
        <div class="h4 title text-uppercase inline">GCloud Speech API</div>
        <p class="bg-warning">To get this to work you need to have a <a href="https://cloud.google.com/free/"
            target="_blank">
            Google Compute</a> account, install the <a href="https://cloud.google.com/sdk/downloads" target="_blank">
            gcloud sdk</a>,
          create a google compute project. Then <a href="https://github.com/gridcellcoder/cloud-speech-and-vision-demos"
            target="_blank">clone</a>
          and change <a href="https://github.com/gridcellcoder/cloud-speech-and-vision-demos#configuration"
            target="_blank">environment.ts</a> with your project-id.
          and start the speech-server (See <a
            href="https://github.com/gridcellcoder/cloud-speech-and-vision-demos#speech-local-server" target="_blank">
            README</a>) for full details. Then press the start button and say something..</p>
        <button md-raised-button class="inline" [disabled]="gCloudSpeechSubscription" color="accent"
          (click)="startGCloudSpeech()">START
        </button>
        <div class="spacer"></div>
        <div class="mb-0">
          <textarea matInput rows="2" [disabled]="!gCloudSpeechTranscript" placeholder="Audio Transcription"
            [(ngModel)]="gCloudSpeechTranscript">
          </textarea>
        </div>
        <div class="spacer"></div>
        <div *ngIf="gCloudSpeechAnalysis">
          <div>
            Sentiment
            <a href="https://cloud.google.com/natural-language/docs/basics#sentiment-analysis-values"><span
                class="fa fa-question-circle"></span></a>
            Score: {{gCloudSpeechAnalysis.sentiment.score}}, Magnitude: {{gCloudSpeechAnalysis.sentiment.magnitude}}
            <span class="fa fa-refresh" (click)="gCloudSpeechAnalyseTranscript()"></span>&nbsp;
            <span class="fa fa-save" (click)="speechAnalysisSave(gCloudSpeechAnalysis)"></span>
          </div>
          <mat-chip-list class="md-chip-list">
            <mat-chip *ngFor="let tag of gCloudSpeechAnalysis.tags" color="accent">
              <span *ngIf="!tag.wikipedia_url">{{tag.type}} - "{{tag.name}}"</span>
              <a *ngIf="tag.wikipedia_url" [href]="tag.wikipedia_url">{{tag.type}} - "{{tag.name}}"</a>
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-card>
      <mat-card *ngIf="splitted">
        <ul *ngFor="let sp of splitted">
          <li><a class="md-primary" target="_blank">{{sp}}</a>
        </ul>
      </mat-card>
    </div>

    <div class="col-sm-6 col-md-5 col-lg-4">
      <mat-card  class="card">
        <div class="h4 title text-uppercase">GCloud Vision API</div>
        <p>First select some features. Then upload an image from your computer to analyze its content</p>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <mat-select class="select-features" placeholder="Features" [(ngModel)]="selectedVisionFeatures"
          (ngModelChange)="fileChange({ target: fileInput })" name="features" multiple="true">
          <mat-option *ngFor="let feature of getVisionFeatureKeys()" [value]="feature">
            {{feature}}
          </mat-option>
        </mat-select>
        <input #fileInput type="file" class="inline" placeholder="Upload image file" accept="image/*"
          (change)="fileChange($event)">
        <div class="spacer"></div>
        <agm-map *ngIf="gCloudVisionLocation" [latitude]="gCloudVisionLocation.latitude"
          [longitude]="gCloudVisionLocation.longitude" [zoom]="17" mapTypeId="satellite">
          <agm-marker [latitude]="gCloudVisionLocation.latitude" [longitude]="gCloudVisionLocation.longitude">
          </agm-marker>
        </agm-map>
        <div class="spacer"></div>
        <pre *ngIf="gCloudVisionAnalysis">{{gCloudVisionAnalysis}}</pre>
      </mat-card>
      <mat-card *ngIf="splitted">
        <div class="image-preview mb-3" *ngIf="previewUrl">
          <img [src]="previewUrl" height="600" />
        </div>
      </mat-card>
    </div>
  </div>
</div>