/*!
 * Copyright (c) 2017. GridCell Ltd
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
page-widgets {
  a {
    color: initial;
    text-decoration: underline;
  }

  .card {
    min-height: 128px;
    margin-bottom: 15px;
  }

  .title {
    margin-right: 15px;
  }

  .inline {
    display: inline-block;
  }

  .spacer {
    height: 8px;
  }

  .ng-busy-backdrop {
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

 

  .mat-chip:not(.mat-basic-chip) {
    font-size: 12px !important;
    line-height: 14px !important;
    margin-bottom: 4px;
  }

  agm-map {
    height: 300px;
  }

  .select-features {
    min-width: 128px;
    margin-right: 16px;
  }

  .bg-warning {
    font-size: 12px;
    padding: 4px;
  }
}
